<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
   <ion-toolbar>
     <ion-title>Inline Toast</ion-title>
   </ion-toolbar>
   </ion-header>
  <ion-content class="ion-padding">
   <ion-button id="open-toast" expand="block">Open</ion-button>
    <p id="message">This toast example uses triggers to automatically</p>
    <ion-toast trigger="open-toast" message="This toast will disappear"></ion-toast>
  </ion-content>
</ion-content>
